**/.git
**/*node_modules/
cxgn/sgn/js/node_modules
cxgn/sgn/js/build
cxgn/sgn/js/package-lock.json
cxgn/sgn/db/delete_nd_experiment_ids
cxgn/sgn/logfile*
cxgn/sgn/sgn_fixture.conf
cxgn/*/sgn_local.conf
**/*.env

# Saves about 230 MB of space
cxgn/sgn/docs/BreedbaseManual.pdf
cxgn/sgn/docs/r_markdown_docs/*
cxgn/gtsimsrch/data/*
cxgn/gtsimsrch/example/*
cxgn/gtsimsrch/testing/*

