[submodule "cxgn/cxgn-corelibs"]
	path = cxgn/cxgn-corelibs
	url = https://github.com/bff-afirms/cxgn-corelibs.git
[submodule "cxgn/sgn"]
	path = cxgn/sgn
	url = https://github.com/bff-afirms/sgn.git
[submodule "cxgn/Phenome"]
	path = cxgn/Phenome
	url = https://github.com/solgenomics/Phenome.git
[submodule "cxgn/rPackages"]
	path = cxgn/rPackages
	url = https://github.com/solgenomics/rPackages.git
[submodule "cxgn/biosource"]
	path = cxgn/biosource
	url = https://github.com/solgenomics/biosource.git
[submodule "cxgn/Cview"]
	path = cxgn/Cview
	url = https://github.com/solgenomics/Cview.git
[submodule "cxgn/ITAG"]
	path = cxgn/ITAG
	url = https://github.com/solgenomics/ITAG.git
[submodule "cxgn/tomato_genome"]
	path = cxgn/tomato_genome
	url = https://github.com/solgenomics/tomato_genome.git
[submodule "cxgn/sgn-devtools"]
	path = cxgn/sgn-devtools
	url = https://github.com/solgenomics/sgn-devtools.git
[submodule "cxgn/starmachine"]
	path = cxgn/starmachine
	url = https://github.com/solgenomics/starmachine.git
[submodule "cxgn/DroneImageScripts"]
	path = cxgn/DroneImageScripts
	url = https://github.com/solgenomics/DroneImageScripts.git
[submodule "cxgn/local-lib"]
	path = cxgn/local-lib
	url = https://github.com/bff-afirms/perl-local-lib
[submodule "cxgn/R_libs"]
	path = cxgn/R_libs
	url = https://github.com/bff-afirms/R_libs
[submodule "cxgn/bio-chado-schema"]
	path = cxgn/bio-chado-schema
	url = https://github.com/solgenomics/bio-chado-schema
[submodule "cxgn/chado_tools"]
	path = cxgn/chado_tools
	url = https://github.com/GMOD/chado_tools
[submodule "cxgn/QuantGenResources"]
	path = cxgn/QuantGenResources
	url = https://github.com/solgenomics/QuantGenResources.git
[submodule "cxgn/gtsimsrch"]
	path = cxgn/gtsimsrch
	url = https://github.com/solgenomics/gtsimsrch.git
[submodule "cxgn/sgn-biotools"]
	path = cxgn/sgn-biotools
	url = https://github.com/solgenomics/sgn-biotools.git
