services:

  # Postgres database for breedbase web application
  breedbase_db:
    image: postgres:12.7
    environment:
      POSTGRES_PASSWORD: postgres
    networks:
      - test-breedbase
    healthcheck:
      test: [ "CMD-SHELL", "psql -U postgres -q postgres -c '\\dt'"]
      interval: 5s
      timeout: 5s
      retries: 30

  # Breedbase web application
  test_breedbase:
    build:
      context: .
      cache_from:
        - breedbase/breedbase:latest
    # Dev
    image: breedbase/breedbase:latest
    environment:
      HOME: /root
      MODE: 'TESTING'
      PGPASSWORD: postgres
      SGN_TEST_SERVER: http://test_breedbase:3010
      SGN_REMOTE_SERVER_ADDR: selenium
    depends_on:
      breedbase_db:
        condition: service_healthy
      selenium:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    volumes:
      - ./cxgn:/home/production/cxgn
      # repos/sgn/sgn_test.conf assumes /home/vagrant
      - ./.git:/home/production/.git
      - shared_data:/downloads
      - ./entrypoint.sh:/entrypoint.sh
      # interactive testing mode
      - ./interactive.t:/home/production/cxgn/sgn/t/interactive.t
    command: ["--interactive"]
    networks:
      - test-breedbase
    ports:
      - 3010:3010
    healthcheck:
      test: curl -I localhost:8080
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 30s

  # Visualizer for selenium browser automation
  novnc:
    image: theasp/novnc:latest
    environment:
      DISPLAY_WIDTH: 1600
      DISPLAY_HEIGHT: 968
      RUN_XTERM: no
    ports:
      - "8081:8080"
    networks:
      - test-breedbase

  # Browser automation
  selenium:
    image: selenium/standalone-firefox:3.141.59
    shm_size: '2gb'
    healthcheck:
      test: "curl --silent --head http://localhost:4444 || exit 1"
    networks:
      - test-breedbase
    volumes:
      - type: bind
        source: ./cxgn/sgn/t/data
        target: /home/production/cxgn/sgn/t/data
      - shared_data:/downloads
    environment:
      DISPLAY: novnc:0.0
    ports:
       - 5900:5900
       - 4444:4444

  # Postgres database for keycloak (must be >=v13)
  keycloak_db:
    image: postgres:13.0
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_PASSWORD: postgres
    networks:
      - test-breedbase
    healthcheck:
      test: [ "CMD-SHELL", "psql -U postgres -q keycloak -c '\\dt'"]
      interval: 5s
      timeout: 5s
      retries: 30

  # Keycloak authentication
  keycloak:
    build:
      context: cxgn/sgn/.github/keycloak
    image: bffafirms/keycloak:26.5.1-0-breedbase-testing
    depends_on:
      keycloak_db:
        condition: service_healthy
    environment:
      KC_DB_USERNAME:              postgres
      KC_DB_PASSWORD:              postgres
      KC_BOOTSTRAP_ADMIN_PASSWORD: password
    networks:
      - test-breedbase
    ports:
      - "9080:9080"

volumes:
  shared_data:
  
networks:
  test-breedbase:
