services:
  breedbase:
    volumes:
      - webdata:/home/production/volume
    ports:
      - 8080:8080
    image: breedbase/breedbase:latest
    depends_on:
      - breedbase_db
    container_name: breedbase_web
    healthcheck:
      test: curl -I localhost:8080
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 30s

  breedbase_db:
    volumes:
      - dbdata:/var/lib/postgresql/data
    image: postgres:12.7
    container_name: breedbase_db
    healthcheck:
      test: [ "CMD-SHELL", "psql -U postgres -q postgres -c '\\dt'"]
      interval: 5s
      timeout: 5s
      retries: 30

volumes:
  webdata:
  dbdata:
