services:
  breedbase:
    volumes:
      - type: bind
        source: ./sgn_local.conf
        target: /home/production/cxgn/sgn/sgn_local.conf
      - type: bind
        source: ./cxgn
        target: /home/production/cxgn
        # include .git dir that tracks all submodules in cxgn
      - type: bind
        source: .git
        target: /home/production/.git
      - shared_data:/downloads
    environment:
      MODE: 'DEVELOPMENT'
      PGDATABASE: breedbase
      PGHOST: breedbase_db
      PGPASSWORD: postgres
      PGUSER: postgres
      SGN_TEST_SERVER: http://breedbase:3010
      SGN_REMOTE_SERVER_ADDR: selenium
      DBIC_TRACE: 0

  novnc:
    image: theasp/novnc:latest
    environment:
      DISPLAY_WIDTH: 1600
      DISPLAY_HEIGHT: 968
      RUN_XTERM: no
    ports:
      - "8081:8080"

  selenium:
    container_name: selenium
    image: selenium/standalone-firefox:3.141.59
    depends_on:
      - novnc
    volumes:
      - type: bind
        source: ./cxgn/sgn/t/data
        target: /home/production/cxgn/sgn/t/data
      - shared_data:/downloads
    ports:
      - 5900:5900
      - 4444:4444

    healthcheck:
      test: "curl --silent --head http://localhost:4444 || exit 1"

  breedbase_db:
    environment:
      POSTGRES_PASSWORD: postgres

volumes:
  shared_data:
