# dev settings
insecure_oidc_skip_issuer_verification="true"
ssl_insecure_skip_verify="true"

# production settings
http_address="0.0.0.0:4180"
cookie_secret="{SECRET_KEY}"
email_domains="*"

# session storage (generic)
cookie_secure="false"
cookie_domains=["localhost:9080", "localhost:4180", ".{DOMAIN_NAME}"] # keycloak and oauth2-proxy container domains
cookie_refresh="1m"
cookie_expire="10080m" # matches keycloak client_session_idle

# session storage (cookie)
# session_store_type="cookie"

# session storage (redis)
session_store_type="redis"
redis_connection_url="redis://default:{ADMIN_PASSWORD}@redis:6379/0"

# after auth
whitelist_domains=[".{DOMAIN_NAME}"] # Required to allow redirection back to original requested target.
set_xauthrequest="true"
pass_access_token="true" # Pass Access token via X-Auth-Request-Access-Token
set_authorization_header="true" # Pass ID token via Authorization Bearer header
redirect_url="https://{DOMAIN_NAME}/oauth2/callback"
skip_provider_button="true"

# keycloak provider
provider_display_name="Keycloak"
provider="keycloak-oidc"
client_id="oauth2-proxy"
client_secret="{OAUTH2_PROXY_CLIENT_SECRET}"
oidc_issuer_url="http://keycloak:9080/auth/realms/{PROJECT_NAME}"
code_challenge_method="S256"
validate_url="https://{DOMAIN_NAME}/auth/realms/{PROJECT_NAME}/protocol/openid-connect/userinfo"
profile_url="https://{DOMAIN_NAME}/auth/realms/{PROJECT_NAME}/protocol/openid-connect/userinfo"
