# Templated from David Pinkerton's Guide
# Source: https://caddy.community/t/oauth2-authentication-template-with-group-checks-using-oauth2-proxy-and-self-hosted-oidc/31611

{
	local_certs
	skip_install_trust
	acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	log {
		output file /data/caddy/log/access.log
		format json
	}
}

{$DOMAIN_NAME} {

	handle {
		@static path /css/* /documents/* /img/*
		handle @static {
			root * /data/breedbase/static
			file_server
		}
		@js path /js/legacy/* /js/source/legacy/*
		handle @js {
			uri strip_prefix /js/legacy
			uri strip_prefix /js/source/legacy
			root * /data/breedbase/js/source/legacy
			file_server
		}

		reverse_proxy breedbase:8080
	}
}
