on:
  pull_request:
    paths-ignore:
      - '*.md'
      - '*.png'
      - '.gitignore'
    
jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DOCKER_BUILDKIT: 1

    steps:
      - name: Checkout breedbase_dockerfile repo
        uses: actions/checkout@v2
        with:
          submodules: true
    
      - name: Build container image
        run: docker compose -f docker-compose.test.yml build --no-cache test_breedbase

      - name: Run unit tests
        run: docker compose -f docker-compose.test.yml run --use-aliases --entrypoint='/bin/sh' test_breedbase -c 'prove --recurse t/unit'

      - name: Run unit_fixture tests
        run: docker compose -f docker-compose.test.yml run --use-aliases --entrypoint='/bin/sh' test_breedbase -c '/entrypoint.sh t/unit_fixture'

      - name: Run unit_mech tests
        run: docker compose -f docker-compose.test.yml run --use-aliases --entrypoint='/bin/sh' test_breedbase -c '/entrypoint.sh t/unit_mech'
