on:
  pull_request:
    paths-ignore:
      - '*.md'
      - '*.png'
      - '.gitignore'
    
jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DOCKER_BUILDKIT: 1

    steps:
      - name: Checkout breedbase_dockerfile repo
        uses: actions/checkout@v6
        with:
          submodules: true
    
      - name: Build container image
        run: docker compose -f docker-compose.test.yml build --no-cache test_breedbase

      - name: Run unit tests
        run: docker compose -f docker-compose.test.yml run --use-aliases --entrypoint='/bin/sh' test_breedbase -c 'prove --recurse t/unit 2>/dev/null'

      - name: Run fixture tests
        run: docker compose -f docker-compose.test.yml run --use-aliases test_breedbase -c 't/unit_fixture 2>/dev/null'

      - name: Run mech tests
        run: docker compose -f docker-compose.test.yml run --use-aliases test_breedbase -c 't/unit_mech 2>/dev/null'

      # # -------------------------------------
      # # Check production deployment
  
      # - name: Start production
      #   run: docker compose -f docker-compose.yml -f production.yml up -d

      # - name: Healthcheck production
      #   uses: stringbean/docker-healthcheck-action@v3
      #   with:
      #     container: breedbase
      #     wait-time: 300
      #     require-status: running
      #     require-healthy: true

      # - name: Stop production
      #   run: docker compose -f docker-compose.yml -f production.yml down

      # # -------------------------------------
      # # Check development deployment
  
      # - name: Start development
      #   run: docker compose up -d

      # - name: Healthcheck development
      #   uses: stringbean/docker-healthcheck-action@v3
      #   with:
      #     container: breedbase
      #     wait-time: 300
      #     require-status: running
      #     require-healthy: true

      # - name: Stop development
      #   run: docker compose down
        