on:
  pull_request:
    paths-ignore:
      - '*.md'
      - '*.png'
      - '.gitignore'
    
jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DOCKER_BUILDKIT: 1
      RUN_TEST_CMD: docker compose -f docker-compose.test.yml run --use-aliases test_breedbase -c

    steps:
      - name: Checkout breedbase_dockerfile repo
        uses: actions/checkout@v6
        with:
          submodules: true
    
      - name: Build container image
        run: docker compose -f docker-compose.test.yml build --no-cache test_breedbase

      # -----------------------------------------------------------------------
      # Testing

      # Patch database, and dump to file, build node modules, print versions
      # Because it doesn't use the usual entrypoint, we need to do the work
      # work around for run_all_patches.pl "what the heck - no TTY??" error
      # https://github.com/actions/runner/issues/241#issuecomment-842566950
      - name: Load/dump fixture database and build node modules
        run: docker compose -f docker-compose.test.yml run --use-aliases --entrypoint='/bin/sh' test_breedbase -c 'echo "--version" > ~/.proverc && perl t/test_fixture.pl --dumpupdatedfixture'
        shell: 'script --flush --quiet --return --command "bash --noprofile --norc -eo pipefail {0}"'

      # Unit tests don't need a database or a server
      - name: Run unit tests
        run: $RUN_TEST_CMD '--nopatch --noserver t/unit 2>/dev/null'

      # Everything else needs a database and a server
      - name: Run fixture tests
        run: $RUN_TEST_CMD '--nopatch t/unit_fixture 2>/dev/null'

      - name: Run mech tests
        run: $RUN_TEST_CMD '--nopatch t/unit_mech 2>/dev/null'

      - name: Run selenium lists
        run: $RUN_TEST_CMD '--nopatch t/selenium2 2>/dev/null'

      # -----------------------------------------------------------------------
      # Check production deployment
  
      - name: Start production
        run: docker compose -f docker-compose.yml -f production.yml up -d

      - name: Healthcheck production
        uses: stringbean/docker-healthcheck-action@v3
        with:
          container: breedbase
          wait-time: 300
          require-status: running
          require-healthy: true

      - name: Stop production
        run: docker compose -f docker-compose.yml -f production.yml down

      # -----------------------------------------------------------------------
      # Check development deployment
  
      - name: Start development
        run: docker compose up -d

      - name: Healthcheck development
        uses: stringbean/docker-healthcheck-action@v3
        with:
          container: breedbase
          wait-time: 300
          require-status: running
          require-healthy: true

      - name: Stop development
        run: docker compose down
        